.slider {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 20px; */
}
.slider_back,
.slider_next {
    position: absolute;
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    font-size: 1.3rem;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
}
.slider_next {
    left: 100%;
    transform: translate(-100%, -50%);
}
.slider-container {
    width: calc(300% + 40px);
    display: flex;
    gap: 60px;
    transition: transform 300ms ease;
    transform: translateX(calc(100% * -0/3));
}
.slider_img-container {
    width: calc(100% / 3);
    aspect-ratio: 1;
}
.slider_img {
    width: 80%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.slider_ul {
    display: flex;
    gap: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.slider_border {
    border: 3px solid red;
    border-radius: 5px;
}
@media (max-width: 850px) {
    .slider {
        width: 100%;
        max-width: 500px;
        padding: 20px;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}