.category {
    width: 100%;
}
.category_title {
    align-items: center;
    border-bottom: 2px solid;
    cursor: pointer;
    display: flex;
    font-size: 1.1rem;
    font-weight: 600;
    height: 40px;
    justify-content: space-between;
    padding: 1px;
}
.category_list {
    padding: 20px 0;
}
.category_item {
    margin: 0 0 10px 20px;
}