.main-container, .login-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.main-container {
    height: 50vh;
    border:1px solid #a5a2a2;
    border-radius: 10px;
}
.login {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    max-width: 400px;
    padding: 25px;
    margin-bottom: 20px;
}
.login_strong {
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 30px;
}
.input-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.labels {
    color: #a5a2a2;
}
.inputs {
    border-radius: 10px;
    border: 1px solid #a5a2a2;
}
.login_btn {
    background-color: #55e9f8;
    color: #fff;
    margin: 10px 0 25px;
    padding: 9px;
    width: 100%;
    border-radius: 10px;
    transition: filter 100ms ease;
    transition: transform 200ms ease;
}
.login_btn:hover,
.card_btn:hover {
    filter: brightness(1.3);
    transform: scale(1.05);
}
.card {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.card_avatar{
    font-size: 10rem;
    border-radius: 50%;
    background-color: #55e9f8;
    aspect-ratio: 1;
    margin: 10px;
}
.avatar {
    font-size: 8rem;
    color: #fff;
}
.card_title {
    text-align: center;
    font-size: 2.5rem;
    margin: 10px;
    border-bottom: 3px solid #a5a2a2;
}
.card_btn {
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: #e63946;
    padding: 5px 15px;
    color: white;
}